@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }
  html body {
    text-align: center;
    color: black;
    background: linear-gradient(0deg, #aaaaaa 0%, #dddddd 23%, white 100%); }
    html body h1 {
      font-size: 1.8rem; }
    html body h2 {
      font-size: 1.5rem; }
    html body h3 {
      font-size: 1.1rem; }
    html body p {
      font-size: 1rem; }
    html body a {
      display: inline;
      text-decoration: none;
      font-size: 1.2rem; }
      html body a:visited {
        color: black; }
    html body ul {
      padding: 0;
      margin: 0; }

/*LAYOUT*/
.gridLayout {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 150px 10fr 500px;
  grid-template-columns: auto;
  width: 100%;
  min-width: 200px;
  column-gap: 10px;
  row-gap: 10px; }

@media screen and (max-width: 1024px) {
  .gridLayout {
    grid-template-rows: 133px 3fr 600px; } }

@media screen and (max-width: 768px) {
  .gridLayout {
    grid-template-rows: 116px 3fr 800px; } }

header {
  grid-area: header; }

section#main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

footer {
  grid-area: footer; }

.containerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

.containerRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%; }

.parallax {
  background-image: url("../img/parallax.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.espaciador {
  height: 50px; }

.navMenu {
  z-index: 500;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.341), 0 5px 5px 0 rgba(0, 0, 0, 0.341); }
  .navMenu ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0; }
  .navMenu a {
    font-size: 1.8rem; }
    .navMenu a:hover {
      background-color: #005f5f; }

@media screen and (max-width: 1024px) {
  .navMenu a {
    font-size: 1.5rem; } }

.logo {
  width: 8rem; }
  .logo:hover {
    background-color: transparent; }

@media screen and (max-width: 1024px) {
  .logo {
    width: 7rem; } }

@media screen and (max-width: 768px) {
  .logo {
    width: 6rem; } }

/*BARRA DE NAVEGACION INFERIOR*/
.navfooter {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%; }
  .navfooter ul {
    list-style: none; }
  .navfooter li {
    display: inline-block; }
  .navfooter a {
    color: black;
    transition: .3s background-color; }
    .navfooter a:hover {
      color: aqua; }

@media screen and (max-width: 768px) {
  .navfooter li {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; } }

.copyright {
  padding: 40px; }

.notActive {
  pointer-events: none;
  cursor: default; }

.width80 {
  width: 80%; }

.popover {
  color: #de6700;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.341), 0 5px 5px 0 rgba(0, 0, 0, 0.341); }

.boton:hover, .boton:active, .boton:focus {
  background: #43a090;
  color: black; }

/*FORMS*/
.form {
  position: relative;
  z-index: 1;
  background: rgba(100, 100, 100, 0.568);
  width: 40%;
  margin: 10px 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.341), 0 5px 5px 0 rgba(0, 0, 0, 0.341); }
  .form input, .form textarea, .form select {
    font-size: 1rem;
    width: 50%;
    border: 0;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    display: block; }

@media screen and (max-width: 1200px) {
  .form {
    width: 70%; } }

.cardResumen {
  background-color: rgba(122, 143, 144, 0.69);
  width: 400px;
  height: 350px;
  padding: 30px 40px;
  margin: 30px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.341), 0 5px 5px 0 rgba(0, 0, 0, 0.341); }
  .cardResumen:hover {
    transform: translate(-1px, 1px);
    transform: rotate(-0.2deg);
    transition: 1000ms;
    animation-timing-function: ease-in-out; }

@media screen and (max-width: 768px) {
  .cardResumen {
    width: 300px;
    padding: 7.5px 10px;
    height: 200px; } }

.cardMain {
  background-color: rgba(92, 119, 255, 0.589);
  width: 95%;
  height: 190px;
  padding: 30px 40px;
  margin: 30px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.341), 0 5px 5px 0 rgba(0, 0, 0, 0.341); }
  .cardMain:hover {
    transform: translate(-1px, 1px);
    transform: rotate(-0.2deg);
    transition: 1000ms;
    animation-timing-function: ease-in-out; }

.cardFifty {
  background-color: rgba(217, 255, 0, 0.401);
  width: 45%;
  height: 160px;
  padding: 30px 40px;
  margin: 30px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.341), 0 5px 5px 0 rgba(0, 0, 0, 0.341); }
  .cardFifty:hover {
    transform: translate(-1px, 1px);
    transform: rotate(-0.2deg);
    transition: 1000ms;
    animation-timing-function: ease-in-out; }
