$colorFuentes: rgb(0, 0, 0);
$colorSecundarioFuentes: rgb(222, 103, 0);

$backgroundColor: linear-gradient(0deg, rgb(170, 170, 170) 0%, rgb(221, 221, 221) 23%, rgb(255, 255, 255) 100%);
$backgroundColorSec: white;


$backgroundCards: rgba(122, 143, 144, 0.69);
$backgroundCardMain: rgba(92, 119, 255, 0.589);
$backgroundCardFifty: rgba(217, 255, 0, 0.401);
$borderImageColorCards: rgba(240, 240, 240, 0.525);
$colorDiscountLabel50: rgba(0, 184, 0, 0.562);
$colorDiscountLabel80: rgba(236, 142, 0, 0.692);

$borderColorIcons: rgba(150, 150, 150, 0.2);

$backgroundBotones: rgba(32, 32, 32, 0.521);
$colorHover: #005f5f;

$fondoBotonWhats: #31da6ed8;
$colorSombras: rgba(0, 0, 0, 0.341);

$backgroundForm: rgba(100, 100, 100, 0.568);
